<main id="banner">
    {{!-- <div id="banner-content">
        <h1>Hi, I'm Luis Estrada</h1>
        <h2>3rd Semester Information Technology Student at Humber College</h2>
        <h3><i>Unleashing the Power of Code and Creativity in the Digital Realm.</i></h3>
        <p>
            <strong>Skills:</strong>
            <ul>
                <li>React.js</li>
                <li>Next.js</li>
                <li>Node/Express.js</li>
                <li>Tailwind CSS</li>
                <li>Mongo DB</li>
            </ul>
        </p>
    </div> --}}
    {{!-- For text lighting effect --}}
    {{!-- <div id="banner-content">
        <h1>Hi, I'm Luis Estrada</h1>
        <h2>3rd Semester Information Technology Student at Humber College</h2>
        <h3><i>Unleashing the Power of Code and Creativity in the Digital Realm.</i></h3>
        <p>
            <strong>Skills:</strong>
            <ul>
                <li>React.js</li>
                <li>Next.js</li>
                <li>Node/Express.js</li>
                <li>Tailwind CSS</li>
                <li>Mongo DB</li>
            </ul>
        </p> --}}
    {{!-- </div>
    <img 
        id="profilePic" 
        src="/images/profile-pic.jpg" 
        alt="profile pic"
    /> --}}
</main>